body {
    background-color: #F5F5F5;
}
.navbar{
    background-color: #C0492B;
    color: white;
    /* text-align: center; */
    /* align-items: center; */
    justify-content: center;
    /* position: fixed; */
}
.navbar:hover {
    cursor: pointer;
    
}
.logo image {
    width: 20px;
    height: 10px;
}
.options:hover {
    cursor: pointer ;

}
.section {
    color: black ;
}
.first-section :hover {
    translate: initial;
}

.logo {
    width: 3px;
}